# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.sqlite3

# Virtual environment
venv/
ENV/
env/
.venv/

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.db
db.sqlite3
media/
staticfiles/
static_root/

# VS Code
.vscode/

# Environment variables
.env

# MacOS
.DS_Store

# Migrations (optional - 팀 작업 시 주의)
**/migrations/*.py
!**/migrations/__init__.py
